## Playground with some EDA and misc uses

##### Column info

collaborative returns t/f
description returns text
take nothing from external_urls
followers['total'] is the int
nothing from href
id is the id
nothing from image
text from name
can get username from my query not from owner
['tracks']['total'] gives you number of tracks

tracks data frame
from tracks items ['added_at'] get the data time the track was added
from tracks items ['track'] get duration_ms as float
for artist in tracks items ['track']['artists'][0]['name'] get the first artist
from tracks items ['track'] get explicit as bool
from tracks items ['track'] get id as string
from tracks items ['track'] get name as string
from tracks items ['track'] get popularity as float (0-100)

In [1]:
# imports
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import utils

sns.set_context('paper')
sns.set_style('white')
sns.color_palette('muted')
%matplotlib inline

In [2]:
# Get the data
current_df = utils.make_working_df()
current_df.head()

,added_at,artist,duration,explicit,track_id,track_name,playlist_id,track_pop,artist_followers,artist_genre,artist_id,artist_pop,collab,desc,followers,playlist_name,num_tracks,user,user_followers
0,2013-09-30 16:12:24,Allgott & Villgott,119907.0,0.0,3aIptaHMnbIXRxPWKlqwc6,Klappa lamm,3ftsSOkyCsILZeAZYQr2jH,2.0,76.0,(),5psFWO0ApFkCgzjuToEHx3,8.0,False,None,2.0,Allgott o villgott,6,ellenholstad,254.0
1,2013-10-05 15:22:13,Allgott & Villgott,67918.0,0.0,0rPBlDWP6wcfax63Vs8nAF,Hej på dej,3ftsSOkyCsILZeAZYQr2jH,4.0,76.0,(),5psFWO0ApFkCgzjuToEHx3,8.0,False,None,2.0,Allgott o villgott,6,ellenholstad,254.0
2,2014-07-16 13:50:24,J Boog,217270.0,0.0,4RjHalDdUreXDJSJLo44lK,Sunshine Girl,35XFuuqgCvTYQARix7CFpm,53.0,103793.0,"(polynesian pop,)",7oEWmZ9dKlAVxTgmjUbYr4,63.0,False,None,1.0,reggae,26,denniswolf1992,6.0
3,2014-07-06 09:12:01,Brennan Heart,222919.0,0.0,6A04TZRVZw8db1VsHeYOEx,Never Break Me - Toneshifterz Remix,0gGfciue2ZDCOG5uMv46gU,0.0,122496.0,"(hardstyle,)",5QySqc6yAFDx9m7fedFZmC,66.0,False,None,1921.0,Ηardstyle♬ WORLD OF HARDSTYLE | Wildstylez | N...,282,denniswolf1992,6.0
4,2012-06-29 11:53:52,Johnny Ray,153375.0,0.0,1k4p7c69Dkh2b7s813ooR8,"Yes Tonight, Josephine",6Tuex6CIDfZRyRtsmb5rwE,0.0,1281.0,(),0pC0pFLfdKMboJmKgYgmuw,24.0,False,None,12.0,50's Jukebox Hits,329,1121819432,NaN

In [13]:
# for row in current_df['']
# print(current_df.columns)
ad = current_df[['artist_id','artist','artist_followers','artist_pop','artist_genre']].drop_duplicates('artist_id'
                                                            ).sort_values('artist_followers',ascending=False)
ad.head()

,artist_id,artist,artist_followers,artist_pop,artist_genre
80,5pKCCKE2ajJHZ9KAiaK11H,Rihanna,15410418.0,95.0,"(dance pop, pop, pop christmas, r&b, soul chri..."
1623,1uNFoZAHBGtllmzznpCI3s,Justin Bieber,14861762.0,97.0,"(canadian pop, dance pop, pop, pop christmas, ..."
1688,6eUKZXaKkcviH0Ku9w2n3V,Ed Sheeran,14150392.0,99.0,"(pop,)"
620,3TVXtAsR1Inumwj472S9r4,Drake,14093269.0,99.0,"(canadian pop, hip hop, pop rap, rap)"
1053,7dGJo4pcD2V6oG8kP0tJRR,Eminem,11724806.0,96.0,"(detroit hip hop, g funk, hip hop, pop rap, rap)"

## Possible outside Spotify datasources.

The sqlite database below is from the million song dataset people, and the txt file is also from them, but for a different project.

In [4]:
# table of interest is songs

# Columns 
# 0|track_id|text|0||1
# 1|title|text|0||0
# 2|song_id|text|0||0
# 3|release|text|0||0
# 4|artist_id|text|0||0
# 5|artist_mbid|text|0||0
# 6|artist_name|text|0||0
# 7|duration|real|0||0
# 8|artist_familiarity|real|0||0
# 9|artist_hotttnesss|real|0||0
# 10|year|int|0||0
# 11|track_7digitalid|int|0||0
# 12|shs_perf|int|0||0
# 13|shs_work|int|0||0

# dpath = 'track_metadata.db'
# import sqlite3 
# db = sqlite3.connect(dpath)
# cursor = db.cursor()
# cursor.execute("select * from songs limit 5").fetchall()

In [5]:
with open('data/msd_genre_dataset.txt', 'r') as file:
    txt = file.read().split('\n')[9:-1]
    
meta = [line.split(',') for line in txt]
mdf = pd.DataFrame(meta[1:],columns=meta[0])

In [6]:
mdf.head()

,%genre,track_id,artist_name,title,loudness,tempo,time_signature,key,mode,duration,...,var_timbre3,var_timbre4,var_timbre5,var_timbre6,var_timbre7,var_timbre8,var_timbre9,var_timbre10,var_timbre11,var_timbre12
0,classic pop and rock,TRFCOOU128F427AEC0,Blue Oyster Cult,Mes Dames Sarat,-8.697,155.007,1,9,1,246.33424,...,1255.51456863,580.030471741,598.485222763,575.337671354,322.068602573,321.726029279,232.700608628,186.805302819,181.938688381,151.50801133
1,classic pop and rock,TRNJTPB128F427AE9F,Blue Oyster Cult,Screams,-10.659,148.462,1,4,0,189.80526,...,2007.65306963,1043.47407325,585.694981147,564.013735701,510.17702214,400.200186221,365.119588173,238.099707901,197.93375698,251.577525425
2,classic pop and rock,TRLFJHA128F427AEEA,Blue Oyster Cult,Dance The Night Away,-13.494,112.909,1,10,0,158.1971,...,1204.85677694,2736.52002367,730.233238915,665.203451745,535.775110987,439.335059128,486.822970218,265.333860063,447.097986712,251.880723932
3,classic pop and rock,TRCQZAG128F427DB97,Blue Oyster Cult,Debbie Denise,-12.786,117.429,4,7,1,250.22649,...,809.755802415,563.908070151,492.803818867,378.382799225,372.875044164,231.941956807,246.313305313,168.400152003,85.2824617673,339.897173243
4,classic pop and rock,TRNXMNM128F427DB8C,Blue Oyster Cult,(Don't Fear) The Reaper,-14.093,141.536,4,9,0,307.06893,...,1093.68493472,343.556047412,889.163313941,218.111795637,304.862864449,178.352161145,440.478866943,142.669282985,81.0613261338,208.355152377

In [7]:
print('there are ',len(mdf[mdf['title'].isin(current_df['track_name'])]),'matching rows for tracks in this data.')

there are  12920 matching rows for tracks in this data.